.tab-selector {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, 25%);
}

.tab-selector-option {
    cursor: pointer;
    border: 1px solid black;
}

.tab-selector-option:hover {
    background-color: rgb(168, 39, 168);
    color: #fff;
}